/*! Place your custom styles here */
hr.separator {
  box-sizing: border-box;
  border-top: 2px solid #2250fc;
  border-radius: 5px;
  position: absolute;
  display: block;
}

/*! Place your custom styles here */
hr.left {
  left: 0%;
}

/*! Place your custom styles here */
hr.right {
  right: 50%;
}

/*! Place your custom styles here */
hr.center {
  left: 50%;
  transform: translateX(-50%);
}

hr.big {
  width: 100%;
}

hr.medium {
  width: 90%;
}

hr.small {
  width: 80%;
}

hr.thick {
  border-top: 2px solid #2250fc;
}

hr.slim {
  border-top: 1px solid #2250fc;
}

div .highlight {
  border-left: 1px solid #2250fc;
  position: absolute;
  top: 50%;
  left: -10px;
  height: 90%;
  transform: translateY(-50%);
}

h1.highlighted {
  position: relative;
}

#values {}

#values .container .card-deck .card {
  border-radius: 0% !important;
  box-shadow: none;
  margin: 10px;
  border-color: #2250fc;
}

#values .container .card-deck .card h4 {
  color: #2250fc;
}

.container {
  position: relative !important;
}

.container .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.card {
  border-radius: 0px !important;
}
#contact .container .card-deck .card .card-body {
  display: inline-block;
}


#awards .container .carousel .post-item .post-item-wrap {
  border-radius: 0% !important;
  border-width: 1px !important;
  border-color: #2250fc !important;
  margin: 10px;
}

#awards .container .carousel .post-item .post-item-wrap .post-item-description h2 a {
  color: #2250fc !important;
}

#bar-mobile {
  background-color: white;
  position: relative;
}

#bar-mobile h4{
  background-color: white;
  color: #2250fc;
  white-space:nowrap;
}
#bar-mobile span{
  color: #2250fc;
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

#menu1 h1{
  color: white;
}

#menu1 h4{
  color: rgb(180, 200, 255);
}
#menu1 h4:hover{
  color: black;
}